// fonts
$fontManrope: "Manrope", Arial, sans-serif;
$fontNunito: "Nunito Sans", Arial, sans-serif;

// colors
$white: #fcfcfc;
$whiteOpacity: rgba(252, 252, 252, 0.2);
$whiteOpacityHover: rgb(220, 220, 220, 0.2);
$whiteHover: #f5f5f5;
$black: #101010;
$headerSky: #d5e2fc;
$headerSkyHover: #d1dcf2;
$headerLink: #b1b1b1;
$deepBlue: #234ee4;
$blue: #145cef;
$blueHover: #2b6df1;
$techBlue: #4ad6ff;
$techViolet: #6549d4;
$text: #cecfd5;
$achievementsText: #9fa1ad;
$orange: #f47616;
$green: #02cc89;
$servicesBg: #dcdde0;
$mediaBg: #6549d4;
$mediaText: #868686;
$gray: #dcdde0;
$textFooter: #b5b7c0;
$borderFooter: rgba(252, 252, 252, 0.15);
$linksFooter: rgba(252, 252, 252, 0.12);
$linksFooterHover: rgba(255, 255, 255, 0.15);
$bgFooter: rgba(252, 252, 252, 0.08);

$textTg: #25a4e2;
$textWa: #52cd5f;
$textVk: #4c75a3;
$textMail: #145cef;

$red: red;
$scrollBar: #9a9a9a;
