$white: #fff;
$black: #000;

$main: #212D55;
$blue: #31BEF4;
$blueShadow: #2CABDC;
$blueShadowHover: #0B91C5;
$advantage: #F9FCFD;
$periwinkle: #B9ABFF;
$slateBlue: #9C8AFA;
$yellowishGreen: #8BC356;
$pink: #F58CB5;
$orange: #FEA15E;
$shadowComplex: #e5e8ed;
$shadowBlock: #eef2f5;
$inputLabel: #A8ABB7;
$green: #52c752;
$greenShadow: #479e47;
$grayBlue: #656D89;